.login-page {
  min-height: 100vh;
  background: #E6E6E8;
  padding: 2rem 0;
}

.login-container {
  border-radius: 10px;
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  color: #5E5DBA;
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem auto;
}

.login-container button {
  color: #5E5DBA;
  font-weight: bold;
  font-size: 1.5rem;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
  0px 4px 20px rgba(33, 32, 156, 0.05);
  padding: .8rem 3rem;
  margin: 1rem auto;
  display: block;
}

.login-container input {
  width: clamp(16rem, 30vw , 40rem);
  padding: .7rem 1rem;
  margin: 1rem auto;
  background: #FFFFFF;
  border: 0.5px solid #bebddc;
  border-radius: 10px;
  color: #5E5DBA;
  font-size: 1.3rem;
}

.login-container .pass-reset {
  color: #966906;
}

.login-container p {
  color: #5E5DBA;
  font-weight: 500;
}

.login-container p a {
  color: #966906;
}

/* sign up */

.container1 {
  background: #E6E6E8;
  padding: 1rem;
  min-height: 100vh;
}

.container1 a {
  color: #b2b1d0;
  font-size: 1.5rem;
  margin: 1rem 3rem;
  display: inline-block;
}

.sign-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.sign-section h1 {
  color: #5E5DBA;
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
}

.sign-section input {
  padding: .7rem 1rem;
  font-size: 1.3rem;
  color: #5E5DBA;
  background: #FFFFFF;
  border: 0.5px solid #8f8ec7;
  border-radius: 25px;
  width: clamp(150px, 90%, 500px);
  display: block;
  margin: auto;
}

.sign-section button {
  background: #FFFFFF;
  border: 2px solid #5E5DBA;
  color: #5E5DBA;
  padding: .8rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0px 4px 20px rgba(4, 85, 143, 0.2);
  border-radius: 10px;
  display: block;
  margin: 10px auto;
}

.sign-section p {
  color: #5E5DBA;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
}

.sign-section p a {
  color: #FDB827;
  font-size: 1.4rem;
  cursor: pointer;
  margin: 0;
}
