#faqs{
    padding: 1rem 0 4rem 0;
    position: relative;
}
.intro-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5E5DBA;
    margin: 2rem 6rem;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 15px;
    padding: 2rem 5rem;
}
.intro-board h1{
    font-size: 4rem;
    color: #E6E6E8;
}
.intro-board p{
    font-size: 1.5rem;
    color: #E6E6E8;
    margin: .5rem 0;
}
.chat__logo{
    display: flex; 
    flex-direction: column;
    flex: 40%;
}

.chat__logo img{
    height: 35px;
}
.chat__logo img:nth-child(2){
    margin-right: -7rem;
}

.questions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem;
    align-items: center;
}
.questions .box{
    position: relative;
}
.questions button{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 25px;
    border: none;
    color: #5E5DBA;
    font-size: 1rem;
    padding: .5rem 1rem;
    height: fit-content;
    font-weight: 550;
    display: block;
    margin: 2rem;
    width: 80%;
    cursor: pointer;
}
.questions .box p{
    position: absolute;
    max-width: 17rem;
    padding: 1rem;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    color: #5E5DBA;
    background-color: white;
    font-size: .9rem;
    top: 0;
    bottom: 10;
    transition: all .3s ease;
} 
.questions .box .last{
    margin-top: -6rem;
}
.questions .box img{
    height: .8rem;
    float: right;
    cursor: pointer;
}

@media only screen and (max-device-width: 950px){
    .intro-board{
        margin: 2rem 3rem;
        padding: 2rem;
    }
}
@media only screen and (max-device-width: 850px){
    .intro-board{
        flex-direction: column;
        padding: 1rem;
    }
    .intro-board h1{
        font-size: 2.5rem;
    }
    .chat__logo{
        flex: 100%;
        margin: 1rem;
    }
    .questions{
        padding: 1rem;
        grid-template-columns: 1fr;
    }
    .questions button{
        margin: 1rem;
    }
}