.password{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.passwordRecovery{
    background: #E6E6E8;
    box-shadow: 0px 4px 40px rgba(33, 32, 156, 0.1);
    border-radius: 25px;
    padding: 3rem;
    margin: 1rem;
    width: clamp(45ch, 50%, 75ch);
    text-align: center;
}
.passwordRecovery h1{
    color: #5E5DBA;
    font-size: 2.5rem;
    margin: auto;
}
.passwordRecovery h2{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: .9;
    margin: 1rem;
}
.passwordRecovery input{
    padding: .8rem 1rem;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5E5DBA;
    width: 80%;
}
.passwordRecovery button{
    color: #5E5DBA; 
    background: #FFFFFF;
    border: 2px solid #5E5DBA;
    box-shadow: 0px 4px 20px rgba(4, 85, 143, 0.2);
    border-radius: 10px;
    padding: .7rem 2rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem auto;
}

.confirmation div{
    background: #E6E6E8;
    box-shadow: 0px 4px 40px rgba(33, 32, 156, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    height: 30rem;
    max-width: 50%;
    padding: 2rem;
    margin: 2rem auto;
}
.confirmation h1{
    font-size: 2rem;
    font-weight: 500;
}

.updatePassword{
    padding: 2rem;
}
.updatePassword div{
    margin: 2rem auto;
    width: clamp(45ch, 50%, 75ch);
    background: #E6E6E8;
    box-shadow: 0px 4px 40px rgba(33, 32, 156, 0.1);
    border-radius: 25px;
    text-align: center;
    padding: 3rem;
}
.updatePassword h1{
    color: #5E5DBA;
    font-size: 2rem;
    margin: 1rem 0;
}
.updatePassword input{
    padding: .8rem 1rem;
    border: none;
    border-radius: 20px;
    margin: 1rem auto;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5E5DBA;
    width: 80%;
}
.updatePassword button{
    background: #FFFFFF;
    border: 2px solid #5E5DBA;
    box-shadow: 0px 4px 20px rgba(4, 85, 143, 0.2);
    padding: .7rem 2rem;
    border-radius: 10px;
    color: #5E5DBA;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

@media only screen and (max-device-width: 850px) {
   .passwordRecovery{
    padding: 1rem;
   } 
}