#faqs {
    padding: 1rem 2rem 8rem 2rem;
}

.intro-board {
    background: #5E5DBA;
    margin: 2rem auto;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 15px;
    padding:1rem 2rem;
    width: clamp(200px, 80%, 800px);
}

.intro-board h1 {
    font-size: clamp(2rem, 7vw, 5rem);
    margin: 1rem 0;
    color: #E6E6E8;
}

.intro-board p {
    font-size: 1.5rem;
    color: #E6E6E8;
    margin: .5rem 0;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 3rem;
    align-items: center;
}

.questions .box {
    position: relative;
    margin: .5rem;
    width: clamp(180px, 100%, 360px);
}

.questions button {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 25px;
    border: none;
    color: #5E5DBA;
    font-size: .9rem;
    padding: .5rem;
    height: fit-content;
    font-family: poppins;
    font-weight: 500;
    display: block;
    margin: .5rem auto;
    width: 80%;
    cursor: pointer;
}

.questions p {
    position: absolute;
    padding: 2rem 1rem 1rem;
    box-shadow: 0px 4px 20px rgba(33, 32, 156, 0.2);
    border-radius: 15px;
    z-index: 1;
    color: #5E5DBA;
    background-color: white;
    font-size: .9rem;
    bottom: 80%;
    transition: all .3s ease;
}

.questions img{
    float: right;
}

@media only screen and (max-device-width: 950px) {
    .intro-board {
        margin: 2rem 3rem;
        padding: 2rem;
    }
}

@media only screen and (max-device-width: 850px) {
    #faqs{
        padding: .5rem;
    }
    .intro-board {
        padding: 1rem;
        margin: 1rem auto;
    }

    .intro-board h1 {
        font-size: 2.5rem;
    }

    .questions {
        padding: 1rem;
    }

    .questions button {
        margin: 1rem;
    }
}